@import url(variable.css);
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

        /* the header part  */


header{
    border:none;
    outline:none;
}
header .container {
    display: flex;
    align-items: center;
    position: fixed;
    top:0px;
    width: 100%;
    height: 86px;
    z-index: 1000;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: var(--color-white);

}

.logo {
    display: flex;
    align-items: center;
    width: 178px;
    height: 86px;
    justify-content: center;
    border-right: 1px solid rgb(238, 238, 238);
}
.logo-link{
    text-decoration: none;
}
.logo svg{
    width: 134px;
    height: 30px;
}
.location{
    display: flex;
    justify-content: center;
    width:320px;
    height: 86px;
    flex-direction: column;
}
.location-link{
    text-decoration: none;
}
.location .location-title{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 6px;
    color: rgb(0, 0, 0);
   
}
.location-title{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 6px;
    color: rgb(0, 0, 0);
}
.location-desc{
    font-size: 13px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}
.location p{
    text-align: center;
}

.location-desc .fa-sort-down{
    transform: translateY(-2px);
    padding-left: 5px;
}

.searchbar{
    display: flex;
    align-items: center;
    width: 58%;
    border-radius: 12px;
    background: var(--color-gray2);
    color: var(--color-gray);
    height: 49px;
    gap:10px;
    padding-left: 12px;
    border:1px solid rgba(0, 0, 0, 0.04);
    
}
.searchbar input{
    font-size: 14px;
    width: 100%;
    border:0;
    outline:0;
    line-height: 18px;
    font-weight: var();
    background-color: transparent;
}
.searchbar .fa-magnifying-glass{
    width: 20px;
    height: 20px;
    color: var(--color-black);
}
.search-input{
    width: 100%;
}
.login{
    width:162px;
    font-size: 18px;
    color:rgb(54, 54, 54);
    font-weight: var(--fw-400);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 86px;
}
.login-link{
    text-decoration: none;
}
.cart{
    width: 112px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 32px;
    margin-left: 12px;
   
}
.cart button{
    padding:6px;
    color:white;
     background-color:var(--color-green);
     border:0;
     border-radius: 8px;
     height: 52px;
    width: 112px;
    font-size: 14px;
    font-weight: var(--fw-800);
    cursor: pointer;
}
.fa-cart-shopping{
    font-size: 21px;
}
.fa-cart-shopping:hover {
    animation: 0.6s ease 0s 2 normal none running animation;
}
@keyframes animation{
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.logo:hover{
    background-color: rgb(250, 250, 250);
}
.location:hover{
    background-color: rgb(250, 250, 250);
}
.login:hover{
    background-color: rgb(250, 250, 250);
}
.profile{
    display: none;
    width: 32px;
    height: 32px;
}

.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    position: relative;
    
}
.main-container{
    max-width: 1280px;
}
.banner img{
    width:102.5%;
}
.banner-2{
    display: flex;
    gap:20px;
    overflow: auto;
}
.banner-2 .banner-img img{
    width: 335px;
    height: 195px;
}
.categories{
    display: grid;
    grid-template-columns: repeat(10,10%);
    width: 103%;
    position: relative;
    left: -18px;
}
.categories img{
    width: 100%;
}
.items{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    row-gap: 25px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.list-items{
    display: flex;
    column-gap: 42px;
    justify-content: center;
    overflow: auto;
    padding-left: 422px;
    width: 102%;
}
.item{
    background: rgb(255, 255, 255);
    border: 0.5px solid rgb(232, 232, 232);
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
    border-radius: 8px;
    min-width: 179px;
    max-width: 179px;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.item .tag{
    position: relative;
}
.tag .discount-tag svg{
    overflow: hidden;
}
.tag .discount-tag{
    align-items: center;
    display: flex;
    top: 0px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
}

.tag .discount-tag .discount-price{
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: 9px;
    text-align: center;
    z-index: 20;
    position: absolute;
}
.item img{
    width: 140px;
    height: 140px;
    margin-top: 10px;
}
.timer{
    width: 36%;
    font-size: 9px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 4px;
    border-width: 0px;
    padding: 0px 4px;
    color: rgb(54, 54, 54);
    background-color: rgb(248, 248, 248);
}
.item-name{
    display: -webkit-box;
    font-weight: 600;
    font-size: 13px;
    width: 97%;
    height: 25px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 18px;
    color: rgb(31, 31, 31);
}
.item-details{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    cursor: pointer;
}
.item-weight{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight:300;
    margin-top: 6px;
    height:26px;
}
.item-price{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}
.item-price .price{
    display: flex;
    flex-direction: column;
}
.item-price .price{
    font-size: 12px;
    font-weight: 600;
    color: rgb(31, 31, 31);
}
.item-price button{
    font-size: 13px;
    font-weight: 600;
    width: 66px;
    height: 31px;
    color: rgb(49, 134, 22);
    border: 1px solid rgb(49, 134, 22);
    background-color: rgb(247, 255, 249);
    border-radius: 0.375rem;
    gap: 0.125rem;
    cursor: pointer;
}
.category-name{
    font-weight: 600;
    font-size: 24px;
    color: rgb(28, 28, 28);
    line-height: 32px;
}
.title a{
    line-height: 32px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(12, 131, 31);
}
.item-img{
    display: flex;
    justify-content: center;
}
.banner{
    position: relative;
    left: -14px;
}

footer{
    position: relative;
    text-align: center;
    bottom: -100px;
    padding: 20px;
}


@media screen and (min-width:320px) and (max-width:1020px){
    body{
        width: 100%;
    }
    .logo,.login,.cart{
        display: none;
    }
    .container{
        display: flex;
        width:100% !important;
        padding-bottom: 124px;
        height: 150px !important;
        flex-direction: column;
    }
    .profile{
    display: inline;
    right: 0px;
    position: absolute;
    margin-top: 8px;
    margin-right: 30px;
    }
    .profile img{
        width: 40px;
        height: 40px;
        margin-top: 16px;
    }
    .wrapper{
         min-height: 100vh;
         margin-top: 4%;
    }
    .main-container{
        width: 100% !important;
    }
    .banner img{
        display: none;
    }
    .banner img{
        width:100%;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-2 img{
        width: 100%;
        height: 100% !important;
        overflow: auto;
    }
    .item{
        min-width: 45% !important;
        
    }
    .list-items{
        width: 98%;
        justify-content: flex-start;
        margin-left: 10px;
        padding-left: 0px;
    }
    .item img{
        width: 98%;
        height: 98%;
    }
    .location p{
        text-align: start;
    }
    .search-input{
        height: 48px;
        display: flex;
    }
    .searchbar{
        width: 91%;
        margin-left: 5%;
    }
    .location{
        margin-left: 16px;
    }
    .container{
        align-items: start !important;
        
    }
    .wrapper{
        top:0px;
        justify-content: start;
    }
    header{
        height: 112px;
    }
    .banner{
    display: flex;
    left: 0px;
    justify-content: center;
    
    }
    .categories{
        width: 100%;
        left: 0px;
    }
    .banner-2{
        margin-left: 7px;
    }
    .category-name{
        font-size: 17px;
        margin-left: 10px;
    }
    .title a{
        margin-right: 10px;
        font-size: 17px;
    }
    .categories{
        grid-template-columns: repeat(4,25%);
    }
    footer{
        position: static;
    }
}
